<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>

    <form method="get" action="/search">
        <input name="query">
        <button type="submit">검색</button>
    </form>

    <ul th:if="${results != null}">
    <li th:each="result : ${results}">

        <span th:text="${result.news.title}">제목</span>
        <span th:text="${result.score}">점수</span>
        <a th:href="${result.news.url}">원본 링크</a>

    </li>
    </ul>

</div>

</body>
</html>